.pickerViewBreadcrumb-previousPath
    background none
    border 0
    color var(--actionColorActive)
    font inherit
    padding 0

.pickerViewBreadcrumb-icon
    color var(--actionColorActive)

.pickerViewSelectionContainer
    user-select none

    &:focus
        outline 0
