.fil-folder-body-grid
    display grid
    grid-template-columns repeat(auto-fill, 8rem)
    justify-content space-between
    padding .5rem

.fil-folder-body-grid-virtualized
    padding-left 0
    padding-right 0

.fil-folder-body-grid-scroller
    padding-left .5rem
    padding-right .5rem
