@require 'settings/spaces.styl'

.HistoryRowRevisionLoader
    display flex
    justify-content center

.HistoryRowCaption
    margin-bottom spacing_values.xl
    padding-left spacing_values.xl
    padding-right spacing_values.xl
