.filePickerBreadcrumb-previousPath
    color var(--actionColorActive)
    cursor pointer

.filePickerBreadcrumb-icon
    color var(--actionColorActive)
    margin 0 .25rem

@supports (display: contents) // @stylint ignore
    .filePickerBreadcrumb-wrapper
        display contents

@supports not (display: contents) // @stylint ignore
    .filePickerBreadcrumb-wrapper
        display flex
        flex 1 1 auto
        align-items center
        width 100%
