.filePickerNavigation
    min-height 2rem

.filePickerNavigationTab
    min-height 2rem
    text-transform none

.filePickerBreadcrumb-previousPath
    background none
    border 0
    color var(--actionColorActive)
    font inherit
    padding 0

.filePickerBreadcrumb-icon
    color var(--actionColorActive)

.filePickerSelectionContainer
    user-select none

    &:focus
        outline 0

