.filter
    min-width 9.3125rem
    max-width 20rem

.triggerIcon
    transition transform 150ms

.menu
    width 20rem
    max-width calc(100vw - 2rem)

.suggestionsList
    max-height 17.5rem
    overflow-y auto
    list-style none

.suggestionHighlighted
    background-color var(--actionColorHover)

.status
    min-height 3rem
    color var(--secondaryTextColor)
